@use "../base/variables" as v;
@use "../base/mixins" as m;

.beneficio {
  padding: 5rem 0;
  background-color: v.$primario;
  overflow: hidden;

  @include m.tablet {
    padding: 8rem 0;
  }

  &__content {
    display: grid;
    justify-items: center;
    gap: 5rem;

    @include m.tablet {
      grid-auto-flow: column;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__img {
    width: 28rem;
    height: auto;

    @include m.tablet {
      width: 40rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1) rotate(-6deg);
      }
    }
  }

  &__texto {
    max-width: 60rem;
    text-align: center;

    @include m.tablet {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: start;
    }
  }

  &__title {
    margin-bottom: 1rem;

    &::after {
      background-color: v.$blanco;
    }
  }
}
